# Default ignored files
/shelf/

/out/

*.iml

/.idea/
/Sprint1/tutorial_y_recursos.txt
/Sprint1/Tasca1/.idea/
/Sprint1/CollectionSlices/
/Sprint1/Tasca1/out/
/Sprint1/Tasca2/.idea/
/Sprint1/Tasca2/out/
/Sprint1/Tasca3/.idea/
/Sprint1/Tasca3/out/
